In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\dhanu\appdata\local\programs\python\python311\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dhanu\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dhanu\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dhanu\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\dhanu\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in c:\users\dhanu\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

In [4]:
#Task 1
df=pd.read_excel("census_2011.xlsx")
renaming_col={
    'District code':'District_code',
    'State name': 'State_UT',
    'District name': 'District',
    'Male_Literate': 'Literate_Male',
    'Female_Literate': 'Literate_Female',
    'Rural_Households': 'Households_Rural',
    'Urban_Households': 'Households_Urban',
    'Age_Group_0_29': 'Young_and_Adult',
    'Age_Group_30_49': 'Middle_Aged',
    'Age_Group_50': 'Senior_Citizen',
    'Age not stated': 'Age_Not_Stated'
}
df.rename(columns=renaming_col,inplace=True)

In [5]:
df.columns

Index(['District_code', 'State_UT', 'District', 'Population', 'Male', 'Female',
       'Literate', 'Literate_Male', 'Literate_Female', 'SC',
       ...
       'Power_Parity_Rs_90000_150000', 'Power_Parity_Rs_45000_150000',
       'Power_Parity_Rs_150000_240000', 'Power_Parity_Rs_240000_330000',
       'Power_Parity_Rs_150000_330000', 'Power_Parity_Rs_330000_425000',
       'Power_Parity_Rs_425000_545000', 'Power_Parity_Rs_330000_545000',
       'Power_Parity_Above_Rs_545000', 'Total_Power_Parity'],
      dtype='object', length=118)

In [6]:
#Task 2
# Function to standardize State/UT names
def standardize_state_name(state_name):
    words = state_name.split()
    standardized_words = [word.capitalize() if word.lower() != 'and' else word.lower() for word in words]
    return ' '.join(standardized_words)

# Apply the function to the 'State/UT' column
df['State_UT'] = df['State_UT'].apply(standardize_state_name)

In [7]:
df

,District_code,State_UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,Jammu and Kashmir,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,Jammu and Kashmir,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,Jammu and Kashmir,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,Jammu and Kashmir,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,Jammu and Kashmir,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,Pondicherry,Mahe,41816.0,19143.0,22673.0,36470.0,16610.0,19860.0,144.0,...,2316.0,4309.0,1370.0,838.0,2208.0,576.0,978.0,1554.0,1446.0,10027.0
636,637,Pondicherry,Karaikal,200222.0,97809.0,102413.0,154916.0,79903.0,75013.0,35348.0,...,1063.0,2408.0,665.0,340.0,1005.0,246.0,NaN,729.0,341.0,4890.0
637,638,Andaman and Nicobar Islands,Nicobars,36842.0,20727.0,NaN,25332.0,15397.0,9935.0,0.0,...,685.0,1895.0,212.0,134.0,346.0,70.0,120.0,190.0,84.0,3151.0
638,639,Andaman and Nicobar Islands,North AND Middle Andaman,105597.0,54861.0,50736.0,78683.0,43186.0,35497.0,0.0,...,685.0,1895.0,212.0,NaN,346.0,70.0,120.0,190.0,84.0,3151.0
639,640,Andaman and Nicobar Islands,South Andaman,NaN,127283.0,110859.0,190266.0,105794.0,84472.0,0.0,...,1371.0,3020.0,649.0,368.0,1017.0,265.0,497.0,762.0,376.0,5782.0

In [8]:
#Task 3
# List of districts that moved to Telangana
telangana_districts = [
    "Adilabad", "Nizamabad", "Karimnagar", "Medak", "Hyderabad",
    "Rangareddy", "Mahbubnagar", "Nalgonda", "Warangal", "Khammam"
]

# List of districts that moved to Ladakh
ladakh_districts = ["Leh(Ladakh)", "Kargil"]

# Update the State/UT column based on the districts
df.loc[df['District'].isin(telangana_districts), 'State_UT'] = 'Telangana'
df.loc[df['District'].isin(ladakh_districts), 'State_UT'] = 'Ladakh'

In [9]:
   
# selecting rows based on condition 
rslt_df = df[df['State_UT'].isin(["Ladakh","Telangana"])] 
   
print('\nResult :\n',
      rslt_df)

Result :
      District_code   State_UT     District  Population       Male     Female  \
2                3     Ladakh  Leh(Ladakh)    133487.0    78971.0    54516.0
3                4     Ladakh       Kargil    140802.0        NaN    63017.0
531            532  Telangana     Adilabad   2741239.0        NaN  1371642.0
532            533  Telangana    Nizamabad   2551335.0  1250641.0  1300694.0
533            534  Telangana   Karimnagar   3776269.0  1880800.0  1895469.0
534            535  Telangana        Medak   3033288.0  1523030.0  1510258.0
535            536  Telangana    Hyderabad   3943323.0  2018575.0  1924748.0
536            537  Telangana   Rangareddy   5296741.0  2701008.0  2595733.0
537            538  Telangana  Mahbubnagar   4053028.0  2050386.0  2002642.0
538            539  Telangana     Nalgonda   3488809.0  1759772.0  1729037.0
539            540  Telangana     Warangal   3512576.0  1759281.0  1753295.0
540            541  Telangana      Khammam   2797370.0  1390988.0  1406382.0

      Literate  Literate_Male  Literate_Female        SC  ...  \
2      93770.0        62834.0          30936.0     488.0  ...
3          NaN        56301.0          29935.0      18.0  ...
531  1483347.0       856350.0         626997.0  488596.0  ...
532  1389810.0       790214.0         599596.0  371074.0  ...
533  2206829.0      1257238.0         949591.0  709757.0  ...
534  1637137.0       953406.0         683731.0  537947.0  ...
535  2892155.0      1542688.0        1349467.0  247927.0  ...
536        NaN      1948784.0        1589244.0  652042.0  ...
537  1940646.0      1158386.0         782260.0  708954.0  ...
538  2001019.0      1160757.0         840262.0  637385.0  ...
539  2065023.0      1179790.0         885233.0  616102.0  ...
540  1630234.0       901640.0         728594.0  462896.0  ...

     Power_Parity_Rs_90000_150000  Power_Parity_Rs_45000_150000  \
2                            46.0                         122.0
3                            27.0                         114.0
531                        1266.0                        2870.0
532                         931.0                        2399.0
533                        1420.0                        3583.0
534                         997.0                        2656.0
535                        3204.0                        5212.0
536                        2912.0                        5426.0
537                        1137.0                        3241.0
538                        1106.0                        3043.0
539                        1203.0                        3139.0
540                        1012.0                        2596.0

     Power_Parity_Rs_150000_240000  Power_Parity_Rs_240000_330000  \
2                             15.0                           22.0
3                             12.0                           18.0
531                           84.0                          122.0
532                           61.0                           60.0
533                          128.0                           99.0
534                           84.0                           59.0
535                         1708.0                          494.0
536                          528.0                          373.0
537                           70.0                           54.0
538                            NaN                           72.0
539                          135.0                           93.0
540                           75.0                           78.0

     Power_Parity_Rs_150000_330000  Power_Parity_Rs_330000_425000  \
2                              NaN                           20.0
3                             30.0                           19.0
531                          206.0                          134.0
532                          121.0                           71.0
533                          227.0                          119.0
534                          143.0                           71.0
535                         2202.0                            NaN
536                          901.0                          438.0
537                          124.0                           65.0
538                          136.0                           84.0
539                          228.0                          112.0
540                          153.0                           92.0

     Power_Parity_Rs_425000_545000  Power_Parity_Rs_330000_545000  \
2                              NaN                            NaN
3                              3.0                           22.0
531                          213.0                          347.0
532                          105.0                          176.0
533                          173.0                          292.0
534                          102.0                          173.0
535                          860.0                         1531.0
536                          650.0                         1088.0
537                           95.0                          160.0
538                          125.0                          209.0
539                          162.0                          274.0
540                          136.0                            NaN

     Power_Parity_Above_Rs_545000  Total_Power_Parity
2                            17.0               242.0
3                             7.0               214.0
531                         109.0              4181.0
532                         100.0                 NaN
533                         186.0              5251.0
534                         116.0              3874.0
535                        1710.0             11071.0
536                         603.0                 NaN
537                         102.0              4695.0
538                         113.0              4468.0
539                         185.0              4762.0
540                         127.0              3836.0

[12 rows x 118 columns]

In [10]:
#Task 4

# Calculate the percentage of missing data for each column
missing_data_percentage_before = df.isnull().mean() * 100

# Print the percentage of missing data before filling
#print("Percentage of missing data before filling:")
#print(missing_data_percentage_before)

# Fill missing Population using Male + Female
df['Population'] = df['Population'].fillna(df['Male'] + df['Female'])
df['Male'] = df['Male'].fillna(df['Population'] - df['Female'])
df['Female'] = df['Female'].fillna(df['Population'] - df['Male'])

# Fill missing Literate using Literate_Male + Literate_Female
df['Literate'] = df['Literate'].fillna(df['Literate_Male'] + df['Literate_Female'])
df['Literate_Male'] = df['Literate_Male'].fillna(df['Literate'] - df['Literate_Female'])
df['Literate_Female'] = df['Literate_Female'].fillna(df['Literate'] - df['Literate_Male'])

# Fill missing Population using age groups
df['Population'] = df['Population'].fillna(df['Young_and_Adult'] + df['Middle_Aged'] + df['Senior_Citizen'] + df['Age_Not_Stated'])
df['Young_and_Adult'] = df['Young_and_Adult'].fillna(df['Population'] - df['Middle_Aged'] - df['Senior_Citizen'] - df['Age_Not_Stated'])
df['Middle_Aged'] = df['Middle_Aged'].fillna(df['Population'] - df['Young_and_Adult'] - df['Senior_Citizen'] - df['Age_Not_Stated'])
df['Senior_Citizen'] = df['Senior_Citizen'].fillna(df['Population'] - df['Young_and_Adult'] - df['Middle_Aged'] - df['Age_Not_Stated'])
df['Age_Not_Stated'] = df['Age_Not_Stated'].fillna(df['Population'] - df['Young_and_Adult'] - df['Middle_Aged'] - df['Senior_Citizen'])

# Fill missing Households using Households_Rural + Households_Urban
df['Households'] = df['Households'].fillna(df['Households_Rural'] + df['Households_Urban'])
df['Households_Rural'] = df['Households_Rural'].fillna(df['Households'] - df['Households_Urban'])
df['Households_Urban'] = df['Households_Urban'].fillna(df['Households'] - df['Households_Rural'])


# Recalculate the percentage of missing data after filling
missing_data_percentage_after = df.isnull().mean() * 100

# Print the percentage of missing data after filling
#print("\nPercentage of missing data after filling:")
#rint(missing_data_percentage_after)

missing_data_comparison = pd.DataFrame({"Before": missing_data_percentage_before,"After": missing_data_percentage_after})
print(missing_data_comparison)

# Save the updated DataFrame to a new Excel file
df.to_excel('census_data_filled.xlsx', index=False)

                                Before    After
District_code                  0.00000  0.00000
State_UT                       0.00000  0.00000
District                       0.00000  0.00000
Population                     4.68750  0.15625
Male                           4.68750  0.15625
...                                ...      ...
Power_Parity_Rs_330000_425000  5.15625  5.15625
Power_Parity_Rs_425000_545000  4.68750  4.68750
Power_Parity_Rs_330000_545000  3.59375  3.59375
Power_Parity_Above_Rs_545000   4.68750  4.68750
Total_Power_Parity             5.00000  5.00000

[118 rows x 2 columns]

In [11]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://dhanushrajaa4488:1234@cluster0.gbhznoq.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [12]:

from pymongo import MongoClient

# Convert DataFrame to dictionary
data_dict = df.to_dict("records")

# MongoDB Atlas connection string
# Replace the placeholders with your actual MongoDB Atlas connection string
mongo_uri = "mongodb+srv://dhanushrajaa4488:1234@cluster0.gbhznoq.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Connect to MongoDB Atlas
client = MongoClient(mongo_uri)
db = client.get_database('test')  
collection = db.census

# Insert data into MongoDB collection
collection.insert_many(data_dict)

print("Data has been successfully saved to MongoDB Atlas in the 'census' collection.")

Data has been successfully saved to MongoDB Atlas in the 'census' collection.

In [13]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\dhanu\appdata\local\programs\python\python311\lib\site-packages (2.9.9)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [14]:
import pymongo
import psycopg2

# Connect to MongoDB
mongo_client = pymongo.MongoClient("mongodb+srv://dhanushrajaa4488:1234@cluster0.gbhznoq.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")
mongo_db = mongo_client["test"]
mongo_collection = mongo_db["census"]

# Connect to PostgreSQL
postgres_conn = psycopg2.connect(
    dbname="census_db",
    user="postgres",
    password="postgresql",
    host="localhost",
    port="5432"
)
postgres_cur = postgres_conn.cursor()

# Define the PostgreSQL table schema dynamically
table_name = "census"
table_schema = f"CREATE TABLE IF NOT EXISTS {table_name} (id SERIAL PRIMARY KEY"

# Get a sample document to extract column names and types
sample_document = mongo_collection.find_one()

for key, value in sample_document.items():
    # Sanitize column name and convert to lowercase
    column_name = ''.join(c if c.isalnum() else '_' for c in key).lower()

    # Adjust data types as needed based on your MongoDB values
    postgres_type = "TEXT" if isinstance(value, str) else "INT" if isinstance(value, int) else "FLOAT" if isinstance(value, float) else "TEXT"

    # Add column to the schema
    table_schema += f", {column_name} {postgres_type}"

# Finish the schema creation
table_schema += ");"
postgres_cur.execute(table_schema)
postgres_conn.commit()

# Fetch data from MongoDB and insert into PostgreSQL
for document in mongo_collection.find():
    # Transform MongoDB document to match PostgreSQL schema
    postgres_data = {key.lower(): str(value) if isinstance(value, (list, dict)) else value for key, value in document.items() if key != '_id'}

    # Sanitize column names
    sanitized_columns = [''.join(c if c.isalnum() else '_' for c in key).lower() for key in postgres_data.keys()]

    # Create a list of column names and values for PostgreSQL insertion
    columns = ', '.join(sanitized_columns)
    placeholders = ', '.join(['%s'] * len(postgres_data))
    query = f"INSERT INTO {table_name} ({columns}) VALUES ({placeholders})"

    # Insert data into PostgreSQL
    postgres_cur.execute(query, list(postgres_data.values()))

# Commit changes and close connections
postgres_conn.commit()
postgres_cur.close()
postgres_conn.close()
mongo_client.close()